<div class="container">
    <h1 class="text-center fw-bolder">Subraction</h1>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6 border border-2 shadow p-4">
            <div class="mb-3">
                <label for="">Number 1</label>
                <input type="text" class="form-control" placeholder="enter number1" #box1>
            </div>
            <div class="mb-3">
                <label for="">Number 2</label>
                <input type="text" class="form-control" placeholder="enter number2" #box2>
            </div>
            <div class="mb-3">
                <button (click)="performSubraction(box1,box2)">-</button>
            </div>
            <div class="mb-3">
                    Output {{result}}
            </div>
        </div>
        <div class="col-3"></div>
    </div>
</div>